body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

#main-content {
    margin-top: 50px;
}

#social-icons {
    margin-top: 20px;
}

#social-icons a {
    color: #fff;
    margin: 0 15px;
    font-size: 24px;
}

#about-me {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}
#skills-section i {
color: #fff;
margin: 0 15px;
font-size: 24px;
}

/* Add styling for the Projects page */
#projects-content {
    max-width: 800px;
    margin: 0 auto;
}

.project {
    margin-bottom: 20px;
}
